<!DOCTYPE html>
<html>
    <head>
        <title>{{page.title}}</title>

        <link href="/css/main.css" rel="stylesheet" type="text/css">

    </head>

    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/cv">CV</a></li>
                <li><a href="/research">Research</a></li>
            </ul>
        </nav>
        <div class=container>
            {{ content }}
        </div>
        <footer>
            <ul>
                <li><a href="mailto:rkb5550@psu.ed">Email</a></li>
                <li><a href="https://github.com/RKBuck1">GitHub</a></li>
                <li><a href="https://scholar.google.ca/citations?user=L9BXHtoAAAAJ&hl=en">Google Scholar</a></li>                </ul>
         </footer>
    </body>
</html>